mixin s4SuperProperties(data)
	// start s4SuperProperties
	+b.SECTION.s4SuperProperties.section#s4SuperProperties&attributes(attributes)
		.container
			+b.section-title.text-center 
				img(src="img/title-decor.svg", alt="").res-i
				h2 4 суперспособности Титана
				h3 Почему он неубиваем?
			div
				mixin item(t1, t,v) 
					+b.s4SuperProperties-item
						.row
							.col-lg
								+e.title-sm #{t1}
								+e.title.h3 #{t}
								block
							if v
								.col-lg-6
									p Смотрите, как это работает:
									+e.video-block
										iframe(src=v, allowfullscreen, allow="autoplay; encrypted-media", frameborder="0", width="100%", height="100%")
				
				+item("Суперспособность 1",'Моментальная автоадаптация – живой канал Дончиана.', "https://kinescope.io/xyLibz5cYK415MkBrLXVEA")
					p Ваш робот знает, когда молчать. Он сам анализирует свою торговлю. Как только рынок уходит в боковик и появляются убытки, робот докручивает свою стратегию. Сделки открываются редко, Ваш депозит в сохранности.

					p Как только появляется сильный тренд, робот распознает его уже на следующей свече. Стратегия моментально переводится в сверхчувствительный режим, позволяющий торговать агрессивно и выжимать максимум профита из любого мощного движения.

				+item("Суперспособность 2",'Умный объем – удвоение прибыли на сильных сделках без дополнительного риска', "https://kinescope.io/qp1rrmTeteDUHdrTTNUSPK")
					p Фильтр в Титане – как навигатор для робота. Он показывает, когда сигнал действительно сильный и можно «увеличить скорость».

					p Фильтр подтвердил сигнал на вход в сделку? Робот увеличивает объем позиции и зарабатывает х2 (х3, х4…) к прибыльной сделке.

					p Фильтр не подтвердил? Торгуем стандартным объемом. Без азарта.

					p:strong Такой механизм позволяет увеличить доходность робота на 20%-100% без увеличения просадки.

				+item("Суперспособность 3",'Безопасный мартингейл – превращаем убытки в трамплин для прибыли.', "https://kinescope.io/qKWhHs8UoC6t2Ntwq7Y6TY")
					p Классический мартингейл – это прыжок в пропасть с увеличенным грузом, прямой путь к быстрому сливу депозита.

					p Безопасный мартингейл – это умный рикошет, позволяющий выжать прибыль из убытка. 

					p Робот получил убыток в сделке? Объем следующей сделки увеличится, но только один раз.

					p Результат: мелкие потери компенсируются сразу. Короткие просадки превращаются в прибыль, а серия убытков гарантированно не сольет Ваш счет.

					p:strong Механизм позволяет увеличить доходность робота на 50-100% при умеренном росте просадки.

				+item("Суперспособность 4",'Титановая броня – гарантированная защита от слива депозита и глубоких просадок.')
					p Классический мартингейл – это прыжок в пропасть с увеличенным грузом, прямой путь к быстрому сливу депозита.

					p Безопасный мартингейл – это умный рикошет, позволяющий выжать прибыль из убытка. 

					p Робот получил убыток в сделке? Объем следующей сделки увеличится, но только один раз.

					p Результат: мелкие потери компенсируются сразу. Короткие просадки превращаются в прибыль, а серия убытков гарантированно не сольет Ваш счет.

					p:strong Механизм позволяет увеличить доходность робота на 50-100% при умеренном росте просадки.
			.row
				mixin si(t1,t2, p)
					.col-xl-3.col-md-6
						+b.s4SuperProperties-sm-item
							+e.title-sm #{t1}
							+e.title.h5 #{t2}
							p #{p}
				+si('Замок 1','Стоп-лосс на сделку','Прихлопнет одиночный убыток. Никаких полетов в пропасть. Титан автоматически подберет оптимальный стоп-лосс для Вашего актива.')
				+si('Замок 2','Автостоп стратегии','Робот контролирует не только свою просадку, но и профит-фактор (отношение чистой прибыли к убытку). В случае превышения допустимого убытка торговля блокируется, а робот позовет Вас на помощь через Телеграм.')
				+si('Замок 3','Стоп-лосс на депозит','. Аварийный стоп-кран. Неважно, сколько роботов торгуют на Вашем счете. При потере Х% (Ваша настройка) все роботы тут же останавливаются. Финансовый апокалипсис отменен.')
				+si('Замок 4','Защита от просадок','«Волшебная» функция – компрессия просадки. Позволяет сделать так, чтобы робот НИКОГДА не достиг указанной Вами просадки. Если наступит серия убытков, робот будет уменьшать объем сделок и не позволит потерять больше запланированного. Как только вернется прибыль, робот сам восстановит объем.')
			h3 4 замка исключают вероятность не только слива депозита, но и глубоких просадок. Это позволяет спокойно торговать как новичкам на небольшом капитале, так и опытным трейдерам с капиталом от 1 000 000 рублей и более
			p Помимо брони, Титан предлагает продвинутые методы управления капиталом: от статических объемов до динамического риск-менеджмента. Настраивайте управление рисками на профессиональном уровне.

			+e.panel.panel-with-bg.bg-wrap.text-center
				+img("img/panel-bg.jpg",'bg').picture-bg
				h3.mb-4 Ричард Дончиан дал роботу глаза. Титан дал ему мозг, реакцию и бронежилет
				p.mb-4 Это не просто трейдерский алгоритм. Это супергерой, который думает, адаптируется и неприкосновенен для любых рыночных неожиданностей
				a.btn.btn-primary(href="#") Хочу неубиваемого торгового робота
	// end s4SuperProperties