mixin sProfitsSetting(data)
	// start sProfitsSetting
	+b.SECTION.sProfitsSetting.section#sProfitsSetting&attributes(attributes)
		.container
			+b.section-title.text-center
				img(src="img/title-decor.svg", alt="").res-i
				h2 От 20% до 100% и выше
				h3 Настройте доходность под себя!
				p Не довольствуйтесь шаблонами! С "Титаном" Вы создадите робота под любой темперамент — от "осторожного консерватора" до "адреналинового снайпера".
			mixin item(t1,t2, t, i)
				+b.sProfitsSetting-item
					+e.title-sm #{t1}
					+e.title #{t2}
					+e.text-wrap
						h3 #{t}
						block
					if i
						+img(src=`img/sProfitsSetting-${i}.png`, alt=t).res-i
			+item( "Для тех, кто любит спать спокойно", "Базовый уровень","«Стабильный ручей»", "1")
				p Один робот. Доходность 20-50% годовых с максимальной просадкой не более 10-20%.
				p #[strong Секрет успеха: быстрая генерация стратегии с помощью Титана.] Робот готов к торгам уже через 15 минут.

				p Робот торгует размеренно, как швейцарский банкир. Включены все защиты Титана. Идеально, если Вы хотите пассивный доход в несколько раз выше банковского без нервов.
			+item( "Для тех, кто готов к дерзким, но взвешенным ходам", "Уровень 2","«Турбо-двигатель»", "2")
				p Один робот. Доходность 50-100% годовых с максимальной просадкой до 30%.
				p #[strong Секрет успеха: исследование – находим с помощью Титана лучшие торговые стратегии.] Внедряем умный объем на основе вероятности прибыльной сделки. Внедряем безопасный мартингейл, компенсируя убыток за 1 сделку. Внедряем защиту от глубоких просадок, гарантируем, что возможная просадка не превысит установленный уровень.

				p Такой робот может удваивать капитал каждые 1-2 года и при этом беречь Ваши нервы и деньги.
			+item( "Для тех, кто готов к дерзким, но взвешенным ходам", "Уровень 3","«Турбо-двигатель»", "3")
				p Один робот. Доходность 50-100% годовых с максимальной просадкой до 30%
				p #[strong Секрет успеха: исследование – находим с помощью Титана лучшие торговые стратегии.] Внедряем умный объем на основе вероятности прибыльной сделки. Внедряем безопасный мартингейл, компенсируя убыток за 1 сделку. Внедряем защиту от глубоких просадок, гарантируем, что возможная просадка не превысит установленный уровень.

				p Такой робот может удваивать капитал каждые 1-2 года и при этом беречь Ваши нервы и деньги.
			+item( "Для тех, кто гонится за максимумом и имеет стальные нервы", "Уровень 4","«Взрывной рост»", "4")
				p Один робот. Доходность до 100-450% годовых, с возможной просадкой выше 50%.
				p #[strong Секрет успеха: задействуем по максимуму все встроенные инструменты Титана], проводим исследование и создаем стратегию со сверхдоходностью.

				p Выше Вы уже видели видеоотчет, как я при помощи Титана «украл» стратегию с доходность 454% годовых.
			+item( "Лучший подход для мудрых стратегов", "Уровень 5","«Взрывной рост»", "5")
				p Если Вам нужна высокая доходность, но Вы не готовы принимать высокий риск, есть простой способ добиться этого с помощью портфеля умных роботов.
				p #[strong Секрет успеха: Создать 3-5+ роботов на несвязанных активах]
					ul
						li Каждый робот даст доходность 20-50% годовых. Общая доходность портфеля будет равна сумме доходностей всех роботов.
						li Просадки роботов происходят в разное время. Общая просадка портфеля будет МЕНЬШЕ просадки самого плохого робота.
				p Ваши роботы страхуют друг друга: пока один пережидает просадку, другие зарабатывают деньги. Ваш общий график баланса – гладкая восходящая линия!

			+b.video-block
				h3.text-center Смотрите, насколько легко Титан позволяет выбирать доходность под персональный риск-профиль:
				iframe(src="https://kinescope.io/qKWhHs8UoC6t2Ntwq7Y6TY", allowfullscreen, allow="autoplay; encrypted-media", frameborder="0", width="100%", height="100%")
			
			.text-center.mt-4 
				a.btn.btn-primary(href="#sForm") Подобрать доход под мой риск 
	// end sProfitsSetting