mixin sWithTitanToday(data)
	// start sWithTitanToday
	+b.SECTION.sWithTitanToday.section#sWithTitanToday&attributes(attributes)
		.container
			+b.section-title.text-center 
				img(src="img/title-decor.svg", alt="").res-i
				h2 Что Вы получите с Титаном сегодня
				h3 кроме толстой кредитки
			+e.row.row
				mixin item(i,t,p)
					+b.sWithTitanToday-item.col-xxl-3.col-lg-4.col-md-6
						img(src=`img/lucide/${i}.svg` alt="") 
						h5 #{t}
						p #{p}
				+item('sword', 'Обоюдоострый меч', 'Титан не выбирает сторону. Он извлекает прибыль из КАЖДОГО сильного движения рынка – неважно, растет он или падает. Быки? Медведи? Для Титана это лишь источник энергии для Вашего депозита')
				+item('rocket', 'Реактивный двигатель', 'Мгновенная адаптация к рыночным изменениям на каждой свече. Ваш робот становится умнее с каждой сделкой. Смены рыночных фаз и флетовые болота ему не страшны. Он знает, когда переключаться в режим сохранения депозита, а когда давить на газ и лететь вместе с трендом.')
				+item('shield', 'Щит Капитала', 'Автоматический расчет риска! "Титан" сам рассчитает безопасный объем сделки и выставит четырехуровневую защиту от любых рыночных потрясений. Никаких "сливов за вечер". Спите сном младенца')
				+item('activity', 'Детектор Лжи Рынка', 'Уникальный Profit Factor мониторинг в реальном времени. Робот САМ следит за "здоровьем" стратегии. Если что-то пошло не так (серия убытков), он предупредит и остановится. Не даст потерять депозит')
				+item('chart-network', 'Плащ-Невидимка для Просадок', 'Управление капиталом уровня PRO – умный расчет объема сделки на основе вероятности получения прибыли и алгоритм защиты от глубоких просадок. Максимизируйте прибыль в удачные дни и снижайте убытки при неблагоприятном рынке.')
				+item('timer-reset', 'Машина Времени', 'Форвард-тест – Ваша страховка от обмана. Вы видите, как робот торговал на абсолютно новых, незнакомых ему данных. Никаких подгонок под историю! Это максимально честный прогноз его будущей работы')
				+item('message-circle', 'Телепорт в Telegram', 'Все сделки и уведомления – в Ваш мессенджер. Никакого зависания у монитора. Путешествия, хобби, семья… А Ваш Титан тем временем методично наращивает капитал.')

			+e.table-wrap
				table 
					thead.text-center
						th  
						th.text-danger Дорога Агонии 
							.small Ручная торговля/Старые роботы
						th.text-primary Путь Титана 
					tbody
						mixin line(t1, t2, t3) 
							tr
								th.title: strong #{t1}
								td.base-v.text-danger #{t2}
								td.titan-v #{t3}
						+line('Время до 1-й прибыли ', ' Месяцы/годы обучения, ошибок, сливов', ' 15 минут – первый робот готов!')
						+line(' Инвестиции до старта', 'Тысячи $ на курсы, сигналы, слитые депозиты ', ' Цена Титана – и в бой!')
						+line('Ваши нервы ', 'Постоянный стресс, паника, эмоциональные срывы, бессонница ', '0 нервов. Уведомления → Щелчки мышки → Прибыль. ')
						+line('Риск Полного Слива ', 'Выше 70% (особенно для новичков). ', ' Защита 4-мя замками. Слив ИСКЛЮЧЕН!')
						+line(' Гарантия Результата', 'Надежда "на авось" ', 'Бэктест + Форвард-тест + Броня + Адаптация + Управление ')
						+line('Ваша Свобода ', ' Прикован к графику. Жизнь проходит мимо', 'Абсолютная свобода! Рынок работает на Вас ')
			.text-center
				.mb-5
					p Цифры не лгут: рынок решает судьбу сделок за миллисекунды. Человек физически не успевает. Эмоции – Ваш палач. Страх, жадность, усталость – они УЖЕ сожрали Ваши деньги. Титан вышвыривает этого палача за дверь.
					h3 Титан – это не «еще один конструктор». Это Ваша личная фабрика неубиваемых трендовых роботов. Полноценная экосистема, где Вы – стратег, а рынок – поле Вашей победы.
				.mb-5
					p ПРЯМО СЕЙЧАС решается судьба Вашего будущего!
			.row
				.col-lg-6
					+e.sm-item(style="background: #FFEBEB;")
						p Стать еще одной жертвой <br> в череде слитых депозитов? 
				.col-lg-6
					+e.sm-item(style="background: #CCFFE5;") 
						p Или сделать сегодняшнюю дату днем, когда  <br> Вы, наконец, подчинили рынок себе?
				.col-lg-6
			+e.panel.panel-with-bg.bg-wrap.text-center
				+img("img/panel-bg.jpg",'bg').picture-bg
				h3.mb-4 Прямо сейчас жмите на кнопку
				p.fz-lg.mb-4 или закройте уже эту страницу навсегда вместе с мечтами о создании источника дохода в трейдинге.
				a.btn.btn-primary(href="#sForm") ПОЛУЧИТЬ ТИТАН И ЗАПУСТИТЬ НАДЕЖНЫЙ ИСТОЧНИК ДОХОДА 
			

	// end sWithTitanToday